.main-box{
  width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #ECF0F1 ;
  border-radius: 4px;
  margin-top: 25px;
}
.heading{
  width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 4px solid #4A9DEC;
}

label{
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  border-bottom: 2px solid #ff3115;
}


.dropdown-area{
  margin-bottom: 10px;
}

.drop_down{
  margin-top: 10px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  width: 425px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}


.textarea {
  margin-top: 10px;
  resize: none;
  width: 400px;
  height: 100px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}
.textarea:hover,
.textarea:focus{
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
  border-radius: 10px;
}

.input-box{
  width: 400px;
  margin: auto;
}


.input-area{
  margin-bottom: 30px;
}


.input {
  margin-top: 10px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  width: 400px;
  padding: 12px;
  /* border:1px solid gray; */
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
  border-radius: 10px;
}

.submit{
  color: #ff3115;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  font-size: 20px;
  width: 425px;
  padding: 15px;
  background-color: white;
  border: 2px solid #ff3115;
  border-radius: 4px;
}

.submit:hover {
  background-color: #ff3115; 
  color: white;
}





